#container {
    width: 25%;
    height: 1000px;
    border: 1px solid red;
    margin: auto;
}

#navbar {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    background-color: red;
    color: white;
}

#phn {
    margin-left: 20px;
}

#number {
    padding: 10px;
    margin-left: 10%;
    border-radius: 10px;
    border-color: red;
}

#para {
    margin-left: 10%;
    margin-top: -30px;
}

#password {
    padding: 10px;
    margin-left: 10%;
    border-radius: 10px;
    border-color: red;
}

#rec {
    padding: 10px;
    margin-left: 10%;
    border-radius: 10px;
    border-color: red;
}

#btn {
    padding: 10px 80px 10px 80px;
    margin-left: 15%;
    border-radius: 20px;
    background-color: lawngreen;
    /* color: white; */
    font-weight: bold;
    font-size: 20px;
}

#check {
    margin-left: 10%;
}

#agree {
    font-size: 20px;
    font-weight: bold;
}

#privacy {
    font-size: 20px;
    font-weight: bold;
    color: red;
}